{{- define "main" -}}
<div class="content-wrapper">
    {{ .Content }}

    <h2>最新文章</h2>
    <ul class="post-list">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" (slice "posts" "articles")) }}
        {{ range $paginator.Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <time>{{ .Date.Format "2006-01-02" }}</time>
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .Permalink }}" class="btn">阅读更多</a>
            {{ end }}
        </li>
        {{ else }}
        <li>暂无文章</li>
        {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
</div>
{{- end -}}